<br>

<br>

<table class="table table-striped table-dark">
    <thead>

    <tr>
        <th scope="row">1</th>

        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">image</th>


    </tr>
</thead>
<tbody>

    <tr *ngFor="let i of listResidences, let  p=index ">

        <ng-container>

            <td> {{i.id}}</td>
            <td> {{i.name}}</td>
            <td> {{i.address}}</td>
            <td> {{i.image}}</td>
            <td><button class= "btn btn-info" (click)="aff(p)"> Show apartments</button></td>

        </ng-container>
    </tr>
</tbody>

</table>

<ul >

<tr>
    <th>id</th>
    <th>appartNum</th>
    <th>floorNum</th> 
    <th>surface</th> 
    <th>terrace</th> 



</tr>

<tr *ngFor="let i of showlist, let  p=index ">

        <td> {{i.id}}</td>
        <td> {{i.appartNum}}</td>
        <td> {{i.floorNum}}</td>
        <td> {{i.surface}}</td>
        <td> {{i.terrace}}</td>
     
</tr>
</ul>
<ng-container *ngIf="showlist.length==0">
    No appartments

</ng-container>
